.Nav{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
}

.link{
    text-decoration: none;
    color: black;
    margin-right: 5%;
}

.logo{
    width: 200px;
    margin-right: 100px;
}

.button{
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid gray;
    color: rgb(102, 102, 102);
    background-color: rgba(129, 129, 129, 0.527);
}

.container2{
    height: 30px;
    width: 360px;
    display: flex;
    align-items:center;
    margin-left: 5%;
    background-color: rgb(185, 202, 235);
    border: 1px solid black;
    padding-left: 2%;
    padding: 1%;
    border-radius: 1%;
}