.Nav{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
}

.link{
    text-decoration: none;
    color: black;
    margin-right: 5%;
}

.logo{
    width: 200px;
    margin-right: 100px;
}