.container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 90vw;
    height: 70vh;
    align-items: center;
}

.logo{
    height: 200px;
    width: 600px;
}

.image{
    height: 200px;
}