.container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 90vw;
    height: 80vh;
    align-items: center;
}

.logo{
    height: 200px;
    width: 600px;
}

.image{
    height: 200px;
}

.loading{
    height: 100px
}

.button1{
    margin-top: 2%;
    width: 150px;
    height: 80px;
    background-color: #333;
    font-size:xx-large;
    font-family: 'Courier New', Courier, monospace;
    border-color: black;
  }

.button1:hover{
    border-color: black;
}